In [2]:
import numpy as np
import pandas as pd

In [3]:
facility = pd.read_csv("gen_data/facility_grp.csv")
facility.head(3)

,id_property_unit,id_property,facility_sub_grp,facility_code,value
0,0,1817,NaN,garden,on
1,3623,1817,unit_bedroom_equipment,twin_bed,on
2,3623,1817,unit_bedroom_equipment,unit_wardrobe_closet,on

### Dobivanje jedinstvenih vrijednosti znacajki bez brojcanih vrijednosti

In [4]:
values = facility["value"].unique()
val=[]
for i in values:
    try:
        int(i[-1]) or int(i[0])
    except:
        val.append(i)

val = pd.Series(val)
print(val)

0                                 on
1                         no-heating
2              deposit-is-obligatory
3            final-cleaning-in-price
4                           yes-free
                   ...
120        card_payment_not_accepted
121             int-con-public-areas
122          int-con-business-centre
123                  entire_property
124    after_cancellation_fee_begins
Length: 125, dtype: object

### Definiranje funkcije za sortiranje vrijednosti znacajki ovisno o nazivu vrijednosti

In [5]:
def sort(string,val):
    mask = val.str.contains(string)
    dl=[]
    for index,i in enumerate(val):
        if mask[index] == False:
            dl.append(index)
    value = val.drop(labels=dl)
    return value

In [6]:
sort("yes",val)

4                                   yes-free
8                    yes-electicity-in-price
10                        yes-water-in-price
21                 yes-children-are-wellcome
27                                       NaN
32                                  yes_free
34                          parking_yes_free
38                                  yes_pets
40                          yes-gas-in-price
50                      yes-heating-in-price
60                                  yes-paid
61                          parking_yes_paid
65                       yes-heating-charged
66                            yes_obligatory
82     yes-children-to-four-without-bad-free
88                           yes-gas-charged
94                             yes_paid_stay
96                                       yes
108                        yes-water-charged
113     yes-children-to-four-without-bad-pay
dtype: object

In [7]:
val_column = val.tolist()
#print(val_column)
clean_values =[0] * len(val_column)
print(len(clean_values),len(val_column))

125 125

In [8]:
""" dict = {"values":val_column,"clean":clean_values}

values_df = pd.DataFrame.from_dict(dict)
values_df = values_df.set_index(values_df["values"])
values_df = values_df.drop(["values"],axis = 1)
values_df.head() """


values_s = pd.Series(clean_values,index=val_column)
values_s.head()

on                         0
no-heating                 0
deposit-is-obligatory      0
final-cleaning-in-price    0
yes-free                   0
dtype: int64

In [9]:
values_s["on"] = 1
values_s["off"] = -1
print(values_s["off"])

-1

In [10]:
ls = sort("price",val).tolist()
ls.remove(ls[3])
print(ls)

['final-cleaning-in-price', 'yes-electicity-in-price', 'yes-water-in-price', 'yes-gas-in-price', 'yes-heating-in-price']

In [11]:
for i in ls:
    values_s[i]=1
    #print(values_s[i])
values_s["yes-electicity-in-price"]

1

In [12]:
ls1 = sort("no",val).tolist()
ls1.remove(ls1[6])
ls1.remove(ls1[-2])
print(ls1)
values_s['pets_free_no_charges']=1
#micanje pets free no charges i nan i postavljanje pets free na values_s =1

['no-heating', 'no-gas', 'no', 'no_private_entrance', 'no_wheelchair_accessible', 'not-available', 'meals_not_serve', 'breakfast_not_serve', 'lunch_not_serve', 'dinner_not_serve', 'not_needed', 'not-accept', 'extra_beds_not_available', 'no_pets', 'no-deposit', 'no_such_thing', 'no_parking', 'not_available', 'card_payment_not_accepted']

In [13]:
for i in ls1:
    values_s[i]=-1
    #print(values_s[i])

    
values_s["no-gas"]

-1

In [14]:
ls2 = sort("yes",val).tolist()
ls2.remove(ls2[4])
print(ls2)

for i in ls2:
    values_s[i]=1
    #print(values_s[i])

    
values_s["yes-free"]

['yes-free', 'yes-electicity-in-price', 'yes-water-in-price', 'yes-children-are-wellcome', 'yes_free', 'parking_yes_free', 'yes_pets', 'yes-gas-in-price', 'yes-heating-in-price', 'yes-paid', 'parking_yes_paid', 'yes-heating-charged', 'yes_obligatory', 'yes-children-to-four-without-bad-free', 'yes-gas-charged', 'yes_paid_stay', 'yes', 'yes-water-charged', 'yes-children-to-four-without-bad-pay']

1

In [15]:
ls3 = sort("price",val).tolist()
#ls3.remove(ls3[4])
print(ls3)

values_s['deposit-is-obligatory'] = -1
values_s['yes_obligatory'] = -1
values_s['towels_change_daily']=3
values_s['towels_change_weekly','pets_charges_may_apply'] = 2
values_s[["not_needed",'towels_pperson_standard_plus_mini','towels_pperson_set','towels_pperson_2mini','towels_pperson_standard','final-cleaning-in-price','pets_upon_request']] = 1
print(values_s['towels_pperson_standard'])
print(values_s['towels_pperson_set'])

""" for i in ls2:
    values_s[i]=1
    #print(values_s[i])

    
values_s["yes-free"] """

['final-cleaning-in-price', 'yes-electicity-in-price', 'yes-water-in-price', nan, 'yes-gas-in-price', 'yes-heating-in-price']
1
1

' for i in ls2:\n    values_s[i]=1\n    #print(values_s[i])\n\n    \nvalues_s["yes-free"] '

In [16]:
ls4 = sort("park",val).tolist()
#ls4.remove(ls4[4])
print(ls4)
values_s['park_private', 'park_loc_on_site', 'parking_yes_free']=2
values_s[ 'park_public', 'park_loc_off_site', 'parking_yes_paid']=1
print(values_s['park_private'])

['park_private', 'park_loc_on_site', nan, 'parking_yes_free', 'park_public', 'park_loc_off_site', 'parking_yes_paid', 'no_parking']
2

In [17]:
ls5 = sort("int",val).tolist()
#ls5.remove(ls5[4])
print(ls5)
values_s[ 'int-con-all-rooms', 'int-con-entire-property']=2
values_s['int-con-public-areas', 'int-con-business-centre', 'int-con-some-rooms',"wifi"]=1
print(values_s["wifi"])

['int-con-some-rooms', nan, 'int-con-all-rooms', 'int-con-entire-property', 'int-con-public-areas', 'int-con-business-centre']
1

In [18]:
ls6 = sort("floor",val).tolist()
#ls6.remove(ls6[4])
print(ls6)
values_s['final-cleaning-in-price']=1
values_s['final-cleaning-charged']=-1
values_s[ 'ground_floor',"entire_property", 'upper_floor_reachable_by_stairs_only'] = 1
values_s['entire_property_on_ground_floor'] = 6
values_s['first_floor'] = 2
values_s['second_floor'] = 3
values_s['third_floor'] = 4
values_s['fourth_floor'] = 5

['second_floor', 'first_floor', nan, 'upper_floor_reachable_by_stairs_only', 'ground_floor', 'entire_property_on_ground_floor', 'third_floor', 'fourth_floor']

In [19]:
ls7 = sort("floor",val).tolist()
#ls6.remove(ls6[4])
print(ls7)
values_s['extra_beds_available','bed_linen_change_weekly'] = 1

['second_floor', 'first_floor', nan, 'upper_floor_reachable_by_stairs_only', 'ground_floor', 'entire_property_on_ground_floor', 'third_floor', 'fourth_floor']

In [20]:
v_index =values_s.index
values_s

on                               1
no-heating                      -1
deposit-is-obligatory           -1
final-cleaning-in-price          1
yes-free                         1
                                ..
card_payment_not_accepted       -1
int-con-public-areas             1
int-con-business-centre          1
entire_property                  1
after_cancellation_fee_begins    0
Length: 125, dtype: int64

In [37]:
facility[facility["value"]=="on"]["value"]

0         on
1         on
2         on
3         on
4         on
          ..
211153    on
211154    on
211155    on
211169    on
211170    on
Name: value, Length: 96760, dtype: object

In [22]:
valuenum = values_s[values_s!=0]
valuenum.to_csv("gen_data/valuenum.csv")

In [23]:
valuenum.index

Index(['on', 'no-heating', 'deposit-is-obligatory', 'final-cleaning-in-price',
       'yes-free', 'bed_linen_change_weekly', 'towels_change_weekly',
       'towels_pperson_standard_plus_mini', 'yes-electicity-in-price',
       'no-gas', 'yes-water-in-price', 'no', 'wifi', 'int-con-some-rooms',
       'park_private', 'park_loc_on_site', 'second_floor',
       'no_private_entrance', 'no_wheelchair_accessible',
       'yes-children-are-wellcome', 'first_floor', 'not-available',
       'meals_not_serve', 'breakfast_not_serve', 'lunch_not_serve',
       'dinner_not_serve', 'yes_free', 'parking_yes_free', 'not_needed',
       'yes_pets', 'pets_charges_may_apply', 'yes-gas-in-price',
       'int-con-all-rooms', 'not-accept', 'off', 'extra_beds_not_available',
       'no_pets', 'yes-heating-in-price', 'no-deposit',
       'upper_floor_reachable_by_stairs_only', 'ground_floor',
       'entire_property_on_ground_floor', 'third_floor', 'towels_pperson_set',
       'park_public', 'park_loc_off_site', 'no_such_thing', 'yes-paid',
       'parking_yes_paid', 'yes-heating-charged', 'yes_obligatory',
       'no_parking', 'not_available', 'final-cleaning-charged', 'fourth_floor',
       'pets_upon_request', 'int-con-entire-property',
       'yes-children-to-four-without-bad-free', 'towels_change_daily',
       'pets_free_no_charges', 'yes-gas-charged', 'extra_beds_available',
       'yes_paid_stay', 'yes', 'towels_pperson_standard', 'yes-water-charged',
       'towels_pperson_2mini', 'yes-children-to-four-without-bad-pay',
       'card_payment_not_accepted', 'int-con-public-areas',
       'int-con-business-centre', 'entire_property'],
      dtype='object')

In [24]:
facility_v = facility.replace(valuenum.index,valuenum)
#facility_v.head(50)
facility["new_values"]=facility_v["value"]

In [25]:
facility.to_csv("gen_data/facility_nvls.csv")

In [26]:
facilities = facility.set_index(facility["id_property_unit"])[["facility_sub_grp","facility_code", "value","new_values"]]
facilities.head()

#facilities.loc[24477]
facilities.loc[23113]

,facility_sub_grp,facility_code,value,new_values
id_property_unit,,,,
23113,unit_bedroom_equipment,twin_bed,on,1
23113,unit_bedroom_equipment,unit_wardrobe_closet,on,1
23113,unit_bedroom_equipment,unit_bedroom_parquet_floor,on,1
23113,unit_bedroom_equipment,twin_bed,on,1
23113,unit_bedroom_equipment,unit_wardrobe_closet,on,1
...,...,...,...,...
23113,unit_building_facilities,private_entrance,no_private_entrance,-1
23113,unit_building_facilities,dostupnost_inv_kolica,no_wheelchair_accessible,-1
23113,unit_maindata_others,children_ok,yes-children-are-wellcome,1
23113,room_buliding,balcony,on,1
23113,room_buliding,room_terrace,on,1

## uredivanje distance value u float i spremanje

In [27]:
"""cfacility = facility.drop(facility.index[facility['new_values'] == facility["value"]])
print(facility.shape)
print(cfacility.shape)"""
                                        #krivo, brise sve distance

(211171, 6)
(165342, 6)

In [28]:
# gornja celija brise i sve distance jer oni nemaju new value 
#cfacility.to_csv("gen_data/facility_new_only.csv")

In [39]:
numfacility = facility

numfacility["new_values"] = pd.to_numeric(numfacility["new_values"],errors="coerce")
#print(numfacility.dtypes)
numfacility[numfacility["facility_sub_grp"]=="disg_common"]

,id_property_unit,id_property,facility_sub_grp,facility_code,value,new_values
180,0,1817,disg_common,center,1,1.00
181,0,1817,disg_common,dis_park,1,1.00
182,0,1817,disg_common,sea,0.4,0.40
183,0,1817,disg_common,dis_hospital,2,2.00
184,0,1817,disg_common,dis_police,1.5,1.50
...,...,...,...,...,...,...
210795,0,10599,disg_common,sea,0.55,0.55
210920,0,10601,disg_common,center,0.3,0.30
210921,0,10601,disg_common,sea,0.45,0.45
211117,0,10647,disg_common,center,1.5,1.50
211118,0,10647,disg_common,sea,1.5,1.50

### Zadrzavanje samo brojcanih vrijednosti i spremanje float_facility.csv

In [30]:
nfacility = numfacility.dropna(subset=["new_values"])
print(nfacility.shape)
print(numfacility.shape)

(185568, 6)
(211171, 6)

In [31]:
nfacility.to_csv("gen_data/float_facility.csv")

In [32]:
ls8 = sort("disg",facility["facility_sub_grp"]).unique().tolist()
print(ls8)
ls9=[]
dist_grp = ['disg_common', 'disg_transport', 'disg_sea', 'disg_beaches', 'disg_shops', 'disg_services', 'disg_public_parking']
for i in dist_grp:
    lsi = facility[facility["facility_sub_grp"]==i]["facility_code"].unique().tolist()
    for j in lsi:
        ls9.append(j)
print(ls9)

dst =facility[facility["facility_sub_grp"]=="disg_common"]["id_property_unit"].unique()
print(dst)

[nan, 'disg_common', 'disg_transport', 'disg_sea', 'disg_beaches', 'disg_shops', 'disg_services', 'disg_public_parking']
['center', 'dis_park', 'sea', 'dis_hospital', 'dis_police', 'bus', 'public_transport', 'dis_taxi', 'airport', 'highway', 'train', 'distance_ferryboat', 'beach_bar', 'water_sports', 'diving', 'water_skiing', 'boathire', 'distance_moorage', 'sailing', 'beach_concrete', 'beach', 'beach_sandy', 'beach_shingle', 'beach_rock', 'beach_grass', 'distance_children_beach', 'kiosk', 'supermarket', 'souvenirshop', 'grocery_shop', 'green_market', 'bank', 'atm', 'exchange', 'post', 'restaurant', 'public_phone', 'hairdresser', 'beauty_salon', 'internet_caffe', 'photocopy', 'laundry', 'laundry_self_service', 'conference_room', 'dry_cleaning', 'meeting_room', 'payparking', 'parking']
[0]

In [43]:
facility[facility["facility_sub_grp"]=="disg_transport"]

,id_property_unit,id_property,facility_sub_grp,facility_code,value,new_values
185,0,1817,disg_transport,bus,1,1.0
186,0,1817,disg_transport,public_transport,1,1.0
187,0,1817,disg_transport,dis_taxi,1,1.0
188,0,1817,disg_transport,airport,21,21.0
389,0,1818,disg_transport,bus,1.2,1.2
...,...,...,...,...,...,...
210923,0,10601,disg_transport,airport,45,45.0
210924,0,10601,disg_transport,distance_ferryboat,30,30.0
211119,0,10647,disg_transport,train,75,75.0
211120,0,10647,disg_transport,airport,45,45.0
211121,0,10647,disg_transport,distance_ferryboat,30,30.0

## Grupiranje znacajki prema facility_sub_grp

In [44]:
facilities["facility_sub_grp"].unique()

array([nan, 'unit_bedroom_equipment', 'kitchen',
       'unit_bathroom_equipment', 'unit_equipment',
       'unit_living_equipment', 'unit_extras_others', 'unit_bed_linen',
       'unit_towels', 'unit_cloths', 'sg_water_gas_electricity',
       'sg_house_rules', 'sg_internet', 'sg_parking', 'sg_pets',
       'sg_kids_policy', 'unit_building_facilities',
       'unit_maindata_others', 'sq_mandatory_at_reservation',
       'policies_cancelation', 'sg_free_cancelation_ar', 'parking_garage',
       'backyard', 'disg_common', 'disg_transport',
       'property_final_cleaning', 'property_security_deposit',
       'property_bed_linen', 'property_towels', 'property_kitchen_cloth',
       'property_sg_gas', 'property_sg_electricity', 'property_sg_water',
       'property_extras_others', 'sg_extra_service_main',
       'sg_property_food_beverages_main', 'sg_property_food_bev_meals',
       'hoby', 'leisure', 'sg_electricity', 'sg_water', 'sg_hot_water',
       'property_sg_internet', 'property_sg_parking', 'property_sg_pets',
       'main', 'property_equipment', 'sg_service', 'sg_special',
       'sg_language', 'sg_view', 'disg_sea', 'disg_beaches', 'disg_shops',
       'disg_services', 'disg_public_parking', 'sport', 'rdsg_food',
       'rdsg_shop', 'rdsg_nature', 'rdsg_culture', 'rdsg_kopno',
       'rdsg_zrak', 'rdsg_more', 'room_buliding', 'property_city_tax',
       'health', 'unit_gradevinske_znacajke', 'sg_location', 'children',
       'unit_towels_bed_linen', 'sg_reservation_cond',
       'unit_pogled_mikrolokacija', 'sport_zabava', 'spa_pool',
       'sg_paying', 'public_pools', 'room_equipment',
       'sq_guarantee_payment', 'snow', 'sg_food'], dtype=object)

In [35]:
facilities[facilities["facility_sub_grp"] == 'kitchen']["facility_code"].unique()

array(['refrigerator', 'dishes', 'oven_pu', 'freezing_compartment',
       'dishwasher', 'microwave', 'toaster', 'tea', 'coffee', 'stove',
       'cooking_electric', 'shared_barbecue', 'cooking_gas',
       'grilling_not_allowed', 'private_barbecue', 'freezer', 'mini_oven',
       'cooking_highchair'], dtype=object)

In [36]:
facilities[facilities["facility_sub_grp"] == 'kitchen']

                 facility_sub_grp         facility_code value new_values
id_property_unit
3623                      kitchen          refrigerator    on          1
3623                      kitchen                dishes    on          1
3623                      kitchen               oven_pu    on          1
3623                      kitchen  freezing_compartment    on          1
3623                      kitchen            dishwasher    on          1
...                           ...                   ...   ...        ...
25788                     kitchen  freezing_compartment    on          1
25788                     kitchen             microwave    on          1
25788                     kitchen      cooking_electric    on          1
25788                     kitchen                   tea    on          1
25788                     kitchen                coffee    on          1

[12220 rows x 4 columns]