In [2]:
import pandas as pd
import numpy as np

In [3]:
units = pd.read_csv("gen_data/units.csv")
#units= units.set_index(units["id"])
units.head()

      id  id_property  category   area  floor  beds_basic  beds_additional
0   3622         1817         3   50.0      0           2                1
1   3623         1817         3  100.0      1           4                0
2  23113         1817         3  100.0      2           4                0
3   3624         1818         3   50.0      2           4                0
4   3625         1819         3  130.0      3           8                0

In [4]:
facility_df = pd.read_csv("gen_data/float_facility.csv",index_col="Unnamed: 0")
facility_df.head()

,id_property_unit,id_property,facility_sub_grp,facility_code,value,new_values
0,0,1817,NaN,garden,on,1.0
1,3623,1817,unit_bedroom_equipment,twin_bed,on,1.0
2,3623,1817,unit_bedroom_equipment,unit_wardrobe_closet,on,1.0
3,3623,1817,unit_bedroom_equipment,unit_bedroom_parquet_floor,on,1.0
4,3623,1817,unit_bedroom_equipment,twin_bed,on,1.0

In [5]:
values = pd.read_csv("gen_data/valuenum.csv",index_col="Unnamed: 0")
values.head()

                         0
on                       1
no-heating              -1
deposit-is-obligatory   -1
final-cleaning-in-price  1
yes-free                 1

In [6]:
fcode = facility_df["facility_code"].unique()
print(len(fcode))
fcode

384

array(['garden', 'twin_bed', 'unit_wardrobe_closet',
       'unit_bedroom_parquet_floor', 'refrigerator', 'dishes', 'oven_pu',
       'freezing_compartment', 'dishwasher', 'microwave', 'toaster',
       'tea', 'coffee', 'shower', 'unit_wc', 'washbasin', 'unit_bathtub ',
       'stove', 'balcony', 'air_condition', 'shared_barbecue',
       'unit_living_aircondition', 'unit_living_parquet_floor',
       'unit_big_sofa', 'unit_living_sat_tv', 'washing_machine', 'sattv',
       'internet_wireless', 'un_view_sea', 'terrace',
       'unit_living_terrace_exit', 'unit_three_seater', 'unit_armchair',
       'use_property_check_in_out',
       'description_about_property_frontname',
       'description_about_property_short',
       'description_about_property_long', 'description_unit_frontname',
       'description_unit_short', 'description_unit_long', 'heating1',
       'deposit_obligatory', 'final_cleaning', 'bed_linen',
       'bed_linen_change', 'towels', 'towels_change', 'towels_set',
       'kitchen_cloths', 'electrical_energy', 'gas_supply',
       'water_supply_charge', 'parties_allowed', 'internet-paidorfree',
       'internet-connectiontype', 'internet-location',
       'parking-paidorfree', 'parking-privateorpublic',
       'parking-location', 'pets', 'kids_allowed', 'unit_floor',
       'private_entrance', 'dostupnost_inv_kolica', 'children_ok',
       'InformArrivalTime', 'key_pickup', 'key_pickup_address_client_id',
       'free_cancelation_last_day', 'in_parking_place', 'use_grill',
       'center', 'dis_park', 'sea', 'dis_hospital', 'dis_police', 'bus',
       'public_transport', 'dis_taxi', 'airport',
       'property_final_cleaning', 'property_deposit_obligatory',
       'property_bed_linen', 'property_bed_linen_change',
       'property_towels', 'property_towels_change', 'property_towels_set',
       'property_kitchen_cloths', 'property_gas_supply',
       'property_electrical_energy', 'property_water_supply_charge',
       'property_heating1', 'meals_in_property', 'breakfast_in_property',
       'lunch_in_property', 'dinner_in_property', 'distance_lake',
       'fishing', 'bar', 'casino', 'disco', 'night_bar',
       'distance_going_out', 'electricity_network_220', 'water_supply',
       'hot_water_boiler_electric', 'property_internet_paidorfree',
       'property_internet_connectiontype', 'property_parking_paidorfree',
       'property_parking_reservation', 'pets_allowed',
       'pets_charges_yes_no', 'owner_in_house', 'service_bed_only',
       'special_summer', 'special_family', 'language_hr', 'view_sea',
       'beach_bar', 'water_sports', 'diving', 'water_skiing',
       'beach_concrete', 'beach', 'beach_sandy', 'beach_shingle', 'kiosk',
       'supermarket', 'souvenirshop', 'grocery_shop', 'green_market',
       'bank', 'atm', 'exchange', 'post', 'restaurant', 'public_phone',
       'payparking', 'bike_rent', 'sport_equipment_rent', 'basketball',
       'mini_golf', 'soccer', 'pintball', 'paragliding', 'table_tennis',
       'tennis', 'distance_stadium', 'distance_body_water',
       'room_terrace', 'cooking_electric', 'detached', 'outside_shower',
       'outdoor_dining_area', 'unit_trash_cans', 'grilling_not_allowed',
       'pets_yes_no_7', 'pets_over_7', 'smoking', 'extra_beds_available',
       'highway', 'train', 'distance_ferryboat', 'property_pets_yes_no_7',
       'property_pets_over_7', 'use_kitchen', 'service_daily_stay',
       'language_de', 'boathire', 'beach_rock', 'hairdresser',
       'beauty_salon', 'fitness', 'massage', 'medical_help',
       'beach_volleyball', 'heating', 'zajednicka_terasa',
       'unit_bedroom_sat_tv', 'unit_living_ceramic_floor',
       'unit_two_seater', 'un_view_garden', 'special_all_year',
       'view_garden', 'description_about_neighborhood',
       'description_about_host', 'entire_property_on_ground_floor',
       'in_garden_forniture', 'outside_area_completely_enclosed',
       'language_en', 'language_it', 'language_si',
       'location_center_wide', 'year_built', 'year_rent_start',
       'year_renovated', 'number_units', 'distance_moorage', 'billiard',
       'horse_riding', 'mini_soccer', 'walking_routes', 'squash',
       'entertainment', 'music_instruments', 'piano',
       'in_pool_open_normalwater_noheat', 'in_boat_included', 'elevator',
       'semi_detached', 'un_view_street_quiet', 'large_double_bed',
       'location_edgewood', 'location_ski', 'special_noyouthgroups',
       'special_agroturism', 'partygames', 'playground',
       'view_street_quiet', 'internet_caffe', 'unit_bidet', 'safe',
       'freezer', 'dining_table_4_persons', 'chairs', 'dinner_set',
       'in_garage', 'pool_kids', 'tree_house', 'timber_house', 'windmill',
       'cave_dwelling', 'roof_terrace', 'fish_gutting_point',
       'grass_roof', 'no_group_bookings', 'whirlpool', 'tv',
       'location_sea', 'clothesdryer', 'cooking_highchair', 'fireplace',
       'hairdryer', 'music', 'mini_oven', 'under_floor_heating',
       'veranda', 'dry_toilet', 'dvd', 'loggia', 'billard',
       'gamesconsole', 'iron', 'vaccumcleaner', 'conservatory',
       'in_billiard', 'un_view_pool', 'outdoor_security_camera',
       'tv_room', 'special_pets', 'badminton', 'un_view_street_busy',
       'view_street_busy', 'distance_football_table', 'photocopy',
       'laundry', 'pool_bar', 'property_beach', 'un_view_seaside',
       'cooking_gas', 'un_whirlpool', 'in_whirlpool',
       'un_view_back_building', 'dining_table_2_persons',
       'smoking_allowed', 'quiet_hours_set', 'volleyball',
       'dining_table_3_persons', 'view_back_building', 'private_barbecue',
       'flat_tv', 'parking', 'private_pool', 'un_view_mountain',
       'un_view_forest', 'location_village', 'view_mountain',
       'view_forest', 'separate_toilet', 'childrens_cribs',
       'dining_table_6_persons', 'paying_cash', 'desk',
       'special_health_rehabilitation', 'special_children',
       'free_cancelation_3_days', 'in_pool_open_normalwater_heating',
       'pool_outdoor', 'oven', 'harbour', 'bike_included',
       'location_beachfront', 'pool_public', 'location_away',
       'in_ventilator', 'in_extra_bed', 'hunting', 'bike_routes',
       'un_view_center', 'location_center', 'view_center', 'beach_grass',
       'laundry_self_service', 'in_sauna', 'aerobic',
       'unit_hypoallergenic_pillow', 'toilet_paper', 'radio',
       'quiet_hours_start_time', 'quiet_hours_end_time', 'in_bike_rent',
       'special_health_prevention', 'distance_children_beach',
       'in_children_playground', 'internet_network', 'conference_room',
       'in_tennis', 'lobby_bar', 'GuestIdentification',
       'in_table_football', 'in_dart', 'dry_cleaning', 'un_view_lake',
       'view_lake', 'location_outside', 'in_table_tennis',
       'distance_river', 'unit_clothes_rack', 'in_cable_tv',
       'un_view_river', 'reception', 'breakfast', 'service_bed_breakfast',
       'description_structure_frontname', 'description_structure_short',
       'description_structure_long', 'special_bike', 'special_sport',
       'pool_length', 'un_view_park', 'view_park', 'unit_bathtub',
       'wellness', 'pool_width', 'minibar', 'meal_room_only', 'sailing',
       'language_cz', 'special_winter', 'special_youth',
       'location_island', 'location_river',
       'in_pool_open_seawater_heating', 'property_city_tax',
       'hot_water_supply', 'no_smoking_rooms', 'in_mini_soccer',
       'special_business', 'special_groups', 'meeting_room',
       'birdwatching', 'unit_bedroom_mosquito_net', 'distance_jetski',
       'pool_max_depth', 'mosquito_net', 'paying_amex', 'paying_master',
       'paying_visa', 'paying_maestro', 'card_payment', 'language_sk',
       'property_internet_location', 'location_turistcomplex',
       'in_food_local_speciality'], dtype=object)

In [7]:
units.shape

(2920, 7)

In [8]:
for i in fcode:
    units[i] = pd.Series([0 for x in range(len(units.index))])

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_3692\3975328983.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  units[i] = pd.Series([0 for x in range(len(units.index))])

In [9]:
units.head(10)

,id,id_property,category,area,floor,beds_basic,beds_additional,garden,twin_bed,unit_wardrobe_closet,...,mosquito_net,paying_amex,paying_master,paying_visa,paying_maestro,card_payment,language_sk,property_internet_location,location_turistcomplex,in_food_local_speciality
0,3622,1817,3,50.0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3623,1817,3,100.0,1,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23113,1817,3,100.0,2,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3624,1818,3,50.0,2,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3625,1819,3,130.0,3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,3626,1819,3,60.0,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,3628,1819,3,45.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3629,1819,3,35.0,1,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3630,1819,3,60.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3631,1819,3,45.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
i_units =units.set_index(units["id"])
i_units.head()

,id,id_property,category,area,floor,beds_basic,beds_additional,garden,twin_bed,unit_wardrobe_closet,...,mosquito_net,paying_amex,paying_master,paying_visa,paying_maestro,card_payment,language_sk,property_internet_location,location_turistcomplex,in_food_local_speciality
id,,,,,,,,,,,,,,,,,,,,,
3622,3622,1817,3,50.0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3623,3623,1817,3,100.0,1,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23113,23113,1817,3,100.0,2,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3624,3624,1818,3,50.0,2,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3625,3625,1819,3,130.0,3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
unbed = units[["id","twin_bed"]].set_index(units["id"])["twin_bed"]
unbed.head()

id
3622     0
3623     0
23113    0
3624     0
3625     0
Name: twin_bed, dtype: int64

In [12]:
unbed[25727]

0

In [13]:
#lista unit id-a koji sadrze odredeni facility_code (twin_bed)

facility_df[facility_df["facility_code"]=="twin_bed"]["id_property_unit"].tolist()

# koristi se kao index za unbed series kako bi se postavio value
#unbed[facility_df[facility_df["facility_code"]=="twin_bed"]["id_property_unit"].tolist()]

[3623,
 3623,
 23113,
 23113,
 23113,
 3623,
 3624,
 3624,
 3624,
 3633,
 3633,
 3633,
 3634,
 3634,
 3635,
 3635,
 3636,
 18256,
 18256,
 18264,
 18264,
 3636,
 3655,
 3654,
 3654,
 3880,
 24478,
 3879,
 3879,
 3881,
 3881,
 3882,
 3882,
 22847,
 22847,
 22847,
 3880,
 24478,
 3918,
 3660,
 3883,
 3918,
 3886,
 25472,
 25472,
 25472,
 3660,
 3883,
 3915,
 3697,
 20611,
 3744,
 20611,
 3744,
 3745,
 3745,
 3778,
 3778,
 3779,
 3781,
 3778,
 3745,
 3779,
 3781,
 3815,
 3812,
 3928,
 3930,
 4486,
 4486,
 23584,
 23584,
 23584,
 23584,
 3928,
 3930,
 3930,
 24063,
 24063,
 4511,
 4511,
 4539,
 4539,
 4559,
 4559,
 4559,
 4597,
 4597,
 4564,
 4564,
 4564,
 18441,
 18441,
 24471,
 24471,
 4592,
 4592,
 4592,
 4592,
 18442,
 18442,
 18442,
 18442,
 4659,
 4659,
 4651,
 4653,
 4653,
 4651,
 8121,
 4659,
 4780,
 4786,
 18867,
 18868,
 24328,
 4780,
 4786,
 18867,
 18868,
 24328,
 4832,
 4834,
 4834,
 4834,
 4832,
 4859,
 4859,
 4859,
 4888,
 4878,
 4878,
 4878,
 4888,
 4889,
 4889,
 4889,
 4897,
 4897,
 4939,
 4939,
 5008,
 5008,
 5008,
 5014,
 5027,
 5014,
 5027,
 5031,
 5031,
 5031,
 23335,
 23335,
 5036,
 5036,
 5032,
 5032,
 5046,
 5048,
 5050,
 5047,
 5048,
 5046,
 5050,
 5047,
 5058,
 21404,
 5076,
 5077,
 5077,
 5082,
 5082,
 5076,
 5077,
 5082,
 21404,
 5084,
 5085,
 5086,
 5085,
 5084,
 5086,
 5089,
 5089,
 5089,
 22732,
 22732,
 5092,
 5092,
 5092,
 5092,
 5093,
 5093,
 5093,
 5094,
 5094,
 5094,
 5103,
 5103,
 5107,
 5107,
 5107,
 5107,
 8097,
 8097,
 8097,
 8097,
 5107,
 8097,
 20503,
 20503,
 20503,
 5109,
 5110,
 5110,
 5111,
 5111,
 5112,
 5112,
 5112,
 5112,
 5118,
 5118,
 5134,
 5138,
 5127,
 5138,
 5128,
 5140,
 5140,
 5146,
 5146,
 5154,
 5154,
 5153,
 5153,
 5152,
 5152,
 5157,
 5158,
 24625,
 5159,
 5172,
 5172,
 24815,
 24815,
 24832,
 24832,
 24835,
 24835,
 24832,
 5182,
 5183,
 5184,
 5184,
 5183,
 5199,
 5198,
 5197,
 5198,
 5199,
 5197,
 5210,
 5210,
 5210,
 5210,
 5211,
 5214,
 5214,
 5215,
 5212,
 23326,
 23326,
 5213,
 5213,
 5213,
 5212,
 5218,
 5219,
 5218,
 5220,
 23172,
 5239,
 5228,
 5228,
 24325,
 5246,
 5246,
 5246,
 5247,
 5246,
 5247,
 5268,
 5268,
 5268,
 5268,
 5249,
 5249,
 5250,
 5250,
 5250,
 5250,
 5286,
 5286,
 5289,
 5289,
 5289,
 5290,
 5290,
 21504,
 21504,
 5295,
 5295,
 5296,
 5296,
 21922,
 21922,
 21923,
 21923,
 5297,
 5297,
 24502,
 24502,
 24502,
 24502,
 24502,
 24502,
 24502,
 24458,
 5304,
 5305,
 24455,
 5307,
 24456,
 24455,
 5307,
 21670,
 21670,
 24457,
 21670,
 24457,
 24456,
 24456,
 5331,
 5329,
 5324,
 5325,
 5329,
 5337,
 23525,
 5339,
 5339,
 5337,
 5337,
 23525,
 5339,
 5348,
 5348,
 5348,
 5349,
 5349,
 5349,
 5350,
 5350,
 22984,
 22984,
 5353,
 5353,
 24495,
 24495,
 24495,
 5353,
 18338,
 18338,
 24460,
 24460,
 24460,
 24460,
 24460,
 24460,
 24460,
 24466,
 24466,
 24466,
 24464,
 24464,
 24465,
 24465,
 20716,
 5372,
 5372,
 5372,
 20716,
 5377,
 5376,
 5377,
 5377,
 5376,
 5384,
 5383,
 5384,
 5383,
 5385,
 5385,
 5386,
 5386,
 5536,
 5536,
 5535,
 5535,
 5535,
 5537,
 5537,
 5538,
 5538,
 5587,
 5587,
 5587,
 8347,
 5626,
 5626,
 8347,
 8347,
 8347,
 5626,
 5691,
 5691,
 5692,
 5692,
 5693,
 5693,
 5694,
 5694,
 5695,
 5695,
 5719,
 5720,
 5719,
 5719,
 5720,
 5720,
 5723,
 5724,
 5725,
 5722,
 5724,
 5724,
 24694,
 24694,
 5725,
 5722,
 24694,
 7885,
 7885,
 7885,
 8055,
 8055,
 8166,
 8166,
 8175,
 8176,
 8175,
 8176,
 8175,
 8285,
 8285,
 8287,
 8288,
 8288,
 8287,
 8287,
 18339,
 8312,
 18339,
 18339,
 8312,
 8329,
 8329,
 8329,
 10205,
 10205,
 10205,
 10206,
 10206,
 8334,
 8335,
 8335,
 8334,
 9459,
 24224,
 9459,
 9459,
 9467,
 9468,
 9468,
 9467,
 9999,
 9999,
 9999,
 10010,
 10010,
 10028,
 10027,
 10027,
 10027,
 10028,
 10028,
 10028,
 10029,
 24425,
 24425,
 10027,
 24425,
 10029,
 10083,
 10083,
 10087,
 10087,
 10099,
 10099,
 10099,
 10099,
 10100,
 10100,
 10100,
 10100,
 10110,
 10110,
 10110,
 10110,
 10124,
 10124,
 10124,
 10126,
 10126,
 10124,
 10129,
 10129,
 10129,
 10165,
 10165,
 10165,
 10166,
 10166,
 10166,
 10167,
 10168,
 10167,
 10168,
 10169,
 10169,
 10169,
 10169,
 21540,
 21540,
 10217,
 10218,
 10217,
 10218,
 10214,
 10215,
 10216,
 23138,
 10222,
 10222,
 10222,
 10223,
 10223,
 10223,
 18704,
 18704,
 18704,
 10234,
 23520,
 23520,
 10236,
 10236,
 10236,
 10273,
 10273,
 10291,
 10291,
 10291,
 22682,
 10357,
 22682,
 22683,
 10357,
 22683,
 14108,
 14109,
 14110,
 14110,
 14111,
 14111,
 14108,
 14109,
 14110,
 14111,
 14355,
 14357,
 14354,
 14354,
 14356,
 14356,
 14355,
 14357,
 14354,
 14356,
 14358,
 14358,
 21516,
 21516,
 14365,
 14364,
 14364,
 14365,
 14364,
 18771,
 18771,
 14374,
 14375,
 14375,
 14374,
 14375,
 14407,
 14407,
 14407,
 14408,
 14408,
 24449,
 14409,
 14409,
 14409,
 18816,
 18816,
 14410,
 14410,
 14410,
 14455,
 14457,
 14457,
 14458,
 14453,
 14456,
 14458,
 14453,
 14453,
 14454,
 14456,
 14460,
 14460,
 14460,
 14463,
 14464,
 14465,
 14463,
 14464,
 14465,
 14465,
 21344,
 14486,
 14486,
 14486,
 14486,
 21344,
 21344,
 21344,
 21344,
 14488,
 14486,
 14535,
 14535,
 14535,
 14536,
 14536,
 14537,
 14537,
 14537,
 14538,
 14538,
 14539,
 14539,
 14539,
 14540,
 14540,
 14540,
 14567,
 18597,
 14567,
 18597,
 14576,
 14575,
 14575,
 14575,
 14576,
 14597,
 14597,
 14611,
 14610,
 14611,
 14611,
 14611,
 14620,
 21229,
 21229,
 14620,
 14639,
 14639,
 14639,
 20837,
 20837,
 20838,
 20838,
 20838,
 24445,
 24445,
 24445,
 24446,
 24446,
 14643,
 14643,
 14644,
 14644,
 14652,
 14652,
 14652,
 14652,
 21925,
 14676,
 24463,
 24463,
 24463,
 14692,
 14692,
 14692,
 14742,
 14743,
 14744,
 14745,
 20495,
 20495,
 23338,
 23338,
 23338,
 14749,
 14748,
 14748,
 23338,
 14749,
 14762,
 14762,
 14762,
 23375,
 14762,
 23375,
 14818,
 14819,
 14818,
 14817,
 14819,
 14828,
 14828,
 14828,
 14947,
 14947,
 14947,
 14996,
 14996,
 15040,
 15040,
 15041,
 16738,
 16738,
 16739,
 21930,
 21930,
 16737,
 16737,
 16737,
 16737,
 16741,
 16741,
 16939,
 16939,
 16939,
 17600,
 17600,
 18007,
 18007,
 18007,
 18008,
 18008,
 18102,
 18102,
 18235,
 18235,
 18241,
 18242,
 18241,
 18242,
 18243,
 18244,
 18243,
 18244,
 18245,
 18246,
 18245,
 18246,
 18248,
 18261,
 18261,
 18261,
 18261,
 21978,
 21978,
 21978,
 18265,
 18269,
 18269,
 18269,
 18269,
 18269,
 18271,
 18271,
 18271,
 18271,
 18279,
 18344,
 18345,
 18344,
 18345,
 18343,
 18343,
 18343,
 18358,
 18359,
 18359,
 18359,
 18358,
 18360,
 18361,
 25246,
 25246,
 25246,
 18360,
 18361,
 18390,
 18390,
 18390,
 18400,
 18400,
 18401,
 18401,
 24459,
 24459,
 24459,
 18412,
 18412,
 18412,
 18425,
 18423,
 18423,
 18424,
 18425,
 18425,
 18423,
 18424,
 18445,
 18445,
 18458,
 18458,
 18505,
 18505,
 18505,
 18505,
 18506,
 18531,
 18598,
 18598,
 18598,
 18628,
 18628,
 18628,
 18633,
 18633,
 18633,
 18633,
 20763,
 20763,
 20763,
 18637,
 18637,
 18637,
 18639,
 18640,
 18641,
 18639,
 18640,
 18642,
 18643,
 18643,
 18644,
 18644,
 18644,
 18649,
 18654,
 18654,
 18654,
 18655,
 18655,
 18654,
 18655,
 18660,
 18661,
 18662,
 18661,
 18662,
 23292,
 18665,
 18665,
 18705,
 18705,
 18706,
 18706,
 18707,
 18707,
 18707,
 18742,
 18742,
 18743,
 18743,
 18743,
 18745,
 18745,
 18745,
 18750,
 18750,
 18751,
 18751,
 18762,
 18763,
 18762,
 18764,
 18764,
 18770,
 23136,
 18770,
 18770,
 23136,
 23136,
 18796,
 18796,
 18797,
 18797,
 18797,
 18797,
 18887,
 18887,
 18887,
 18887,
 18886,
 18886,
 18886,
 18886,
 18886,
 18885,
 18885,
 18885,
 19706,
 19706,
 19706,
 19739,
 19740,
 19740,
 19740,
 20356,
 20356,
 20356,
 22680,
 22680,
 22681,
 20357,
 20357,
 23459,
 23459,
 22680,
 20357,
 22681,
 20384,
 20384,
 20384,
 20384,
 20383,
 20383,
 20390,
 20390,
 20390,
 20406,
 20407,
 ...]

### povlacenje vrijednosti iz facility df i spremanje brojcanih vrijednosti u units df stupce prema facility_code

In [14]:
# vraca value kao broj za odredeni facility_code twin_bed, value = on, num_value = 1

values.loc[facility_df[facility_df["facility_code"]=="twin_bed"]["value"].unique()[0]][0]

1

In [15]:
unbed[facility_df[facility_df["facility_code"]=="twin_bed"]["id_property_unit"].tolist()] = values.loc[facility_df[facility_df["facility_code"]=="twin_bed"]["value"].unique()[0]][0]

In [16]:
unbed.head()

id
3622     0
3623     1
23113    1
3624     1
3625     0
Name: twin_bed, dtype: int64

In [17]:
facility_df[facility_df["facility_code"]=="twin_bed"]["id_property_unit"].tolist()

[3623,
 3623,
 23113,
 23113,
 23113,
 3623,
 3624,
 3624,
 3624,
 3633,
 3633,
 3633,
 3634,
 3634,
 3635,
 3635,
 3636,
 18256,
 18256,
 18264,
 18264,
 3636,
 3655,
 3654,
 3654,
 3880,
 24478,
 3879,
 3879,
 3881,
 3881,
 3882,
 3882,
 22847,
 22847,
 22847,
 3880,
 24478,
 3918,
 3660,
 3883,
 3918,
 3886,
 25472,
 25472,
 25472,
 3660,
 3883,
 3915,
 3697,
 20611,
 3744,
 20611,
 3744,
 3745,
 3745,
 3778,
 3778,
 3779,
 3781,
 3778,
 3745,
 3779,
 3781,
 3815,
 3812,
 3928,
 3930,
 4486,
 4486,
 23584,
 23584,
 23584,
 23584,
 3928,
 3930,
 3930,
 24063,
 24063,
 4511,
 4511,
 4539,
 4539,
 4559,
 4559,
 4559,
 4597,
 4597,
 4564,
 4564,
 4564,
 18441,
 18441,
 24471,
 24471,
 4592,
 4592,
 4592,
 4592,
 18442,
 18442,
 18442,
 18442,
 4659,
 4659,
 4651,
 4653,
 4653,
 4651,
 8121,
 4659,
 4780,
 4786,
 18867,
 18868,
 24328,
 4780,
 4786,
 18867,
 18868,
 24328,
 4832,
 4834,
 4834,
 4834,
 4832,
 4859,
 4859,
 4859,
 4888,
 4878,
 4878,
 4878,
 4888,
 4889,
 4889,
 4889,
 4897,
 4897,
 4939,
 4939,
 5008,
 5008,
 5008,
 5014,
 5027,
 5014,
 5027,
 5031,
 5031,
 5031,
 23335,
 23335,
 5036,
 5036,
 5032,
 5032,
 5046,
 5048,
 5050,
 5047,
 5048,
 5046,
 5050,
 5047,
 5058,
 21404,
 5076,
 5077,
 5077,
 5082,
 5082,
 5076,
 5077,
 5082,
 21404,
 5084,
 5085,
 5086,
 5085,
 5084,
 5086,
 5089,
 5089,
 5089,
 22732,
 22732,
 5092,
 5092,
 5092,
 5092,
 5093,
 5093,
 5093,
 5094,
 5094,
 5094,
 5103,
 5103,
 5107,
 5107,
 5107,
 5107,
 8097,
 8097,
 8097,
 8097,
 5107,
 8097,
 20503,
 20503,
 20503,
 5109,
 5110,
 5110,
 5111,
 5111,
 5112,
 5112,
 5112,
 5112,
 5118,
 5118,
 5134,
 5138,
 5127,
 5138,
 5128,
 5140,
 5140,
 5146,
 5146,
 5154,
 5154,
 5153,
 5153,
 5152,
 5152,
 5157,
 5158,
 24625,
 5159,
 5172,
 5172,
 24815,
 24815,
 24832,
 24832,
 24835,
 24835,
 24832,
 5182,
 5183,
 5184,
 5184,
 5183,
 5199,
 5198,
 5197,
 5198,
 5199,
 5197,
 5210,
 5210,
 5210,
 5210,
 5211,
 5214,
 5214,
 5215,
 5212,
 23326,
 23326,
 5213,
 5213,
 5213,
 5212,
 5218,
 5219,
 5218,
 5220,
 23172,
 5239,
 5228,
 5228,
 24325,
 5246,
 5246,
 5246,
 5247,
 5246,
 5247,
 5268,
 5268,
 5268,
 5268,
 5249,
 5249,
 5250,
 5250,
 5250,
 5250,
 5286,
 5286,
 5289,
 5289,
 5289,
 5290,
 5290,
 21504,
 21504,
 5295,
 5295,
 5296,
 5296,
 21922,
 21922,
 21923,
 21923,
 5297,
 5297,
 24502,
 24502,
 24502,
 24502,
 24502,
 24502,
 24502,
 24458,
 5304,
 5305,
 24455,
 5307,
 24456,
 24455,
 5307,
 21670,
 21670,
 24457,
 21670,
 24457,
 24456,
 24456,
 5331,
 5329,
 5324,
 5325,
 5329,
 5337,
 23525,
 5339,
 5339,
 5337,
 5337,
 23525,
 5339,
 5348,
 5348,
 5348,
 5349,
 5349,
 5349,
 5350,
 5350,
 22984,
 22984,
 5353,
 5353,
 24495,
 24495,
 24495,
 5353,
 18338,
 18338,
 24460,
 24460,
 24460,
 24460,
 24460,
 24460,
 24460,
 24466,
 24466,
 24466,
 24464,
 24464,
 24465,
 24465,
 20716,
 5372,
 5372,
 5372,
 20716,
 5377,
 5376,
 5377,
 5377,
 5376,
 5384,
 5383,
 5384,
 5383,
 5385,
 5385,
 5386,
 5386,
 5536,
 5536,
 5535,
 5535,
 5535,
 5537,
 5537,
 5538,
 5538,
 5587,
 5587,
 5587,
 8347,
 5626,
 5626,
 8347,
 8347,
 8347,
 5626,
 5691,
 5691,
 5692,
 5692,
 5693,
 5693,
 5694,
 5694,
 5695,
 5695,
 5719,
 5720,
 5719,
 5719,
 5720,
 5720,
 5723,
 5724,
 5725,
 5722,
 5724,
 5724,
 24694,
 24694,
 5725,
 5722,
 24694,
 7885,
 7885,
 7885,
 8055,
 8055,
 8166,
 8166,
 8175,
 8176,
 8175,
 8176,
 8175,
 8285,
 8285,
 8287,
 8288,
 8288,
 8287,
 8287,
 18339,
 8312,
 18339,
 18339,
 8312,
 8329,
 8329,
 8329,
 10205,
 10205,
 10205,
 10206,
 10206,
 8334,
 8335,
 8335,
 8334,
 9459,
 24224,
 9459,
 9459,
 9467,
 9468,
 9468,
 9467,
 9999,
 9999,
 9999,
 10010,
 10010,
 10028,
 10027,
 10027,
 10027,
 10028,
 10028,
 10028,
 10029,
 24425,
 24425,
 10027,
 24425,
 10029,
 10083,
 10083,
 10087,
 10087,
 10099,
 10099,
 10099,
 10099,
 10100,
 10100,
 10100,
 10100,
 10110,
 10110,
 10110,
 10110,
 10124,
 10124,
 10124,
 10126,
 10126,
 10124,
 10129,
 10129,
 10129,
 10165,
 10165,
 10165,
 10166,
 10166,
 10166,
 10167,
 10168,
 10167,
 10168,
 10169,
 10169,
 10169,
 10169,
 21540,
 21540,
 10217,
 10218,
 10217,
 10218,
 10214,
 10215,
 10216,
 23138,
 10222,
 10222,
 10222,
 10223,
 10223,
 10223,
 18704,
 18704,
 18704,
 10234,
 23520,
 23520,
 10236,
 10236,
 10236,
 10273,
 10273,
 10291,
 10291,
 10291,
 22682,
 10357,
 22682,
 22683,
 10357,
 22683,
 14108,
 14109,
 14110,
 14110,
 14111,
 14111,
 14108,
 14109,
 14110,
 14111,
 14355,
 14357,
 14354,
 14354,
 14356,
 14356,
 14355,
 14357,
 14354,
 14356,
 14358,
 14358,
 21516,
 21516,
 14365,
 14364,
 14364,
 14365,
 14364,
 18771,
 18771,
 14374,
 14375,
 14375,
 14374,
 14375,
 14407,
 14407,
 14407,
 14408,
 14408,
 24449,
 14409,
 14409,
 14409,
 18816,
 18816,
 14410,
 14410,
 14410,
 14455,
 14457,
 14457,
 14458,
 14453,
 14456,
 14458,
 14453,
 14453,
 14454,
 14456,
 14460,
 14460,
 14460,
 14463,
 14464,
 14465,
 14463,
 14464,
 14465,
 14465,
 21344,
 14486,
 14486,
 14486,
 14486,
 21344,
 21344,
 21344,
 21344,
 14488,
 14486,
 14535,
 14535,
 14535,
 14536,
 14536,
 14537,
 14537,
 14537,
 14538,
 14538,
 14539,
 14539,
 14539,
 14540,
 14540,
 14540,
 14567,
 18597,
 14567,
 18597,
 14576,
 14575,
 14575,
 14575,
 14576,
 14597,
 14597,
 14611,
 14610,
 14611,
 14611,
 14611,
 14620,
 21229,
 21229,
 14620,
 14639,
 14639,
 14639,
 20837,
 20837,
 20838,
 20838,
 20838,
 24445,
 24445,
 24445,
 24446,
 24446,
 14643,
 14643,
 14644,
 14644,
 14652,
 14652,
 14652,
 14652,
 21925,
 14676,
 24463,
 24463,
 24463,
 14692,
 14692,
 14692,
 14742,
 14743,
 14744,
 14745,
 20495,
 20495,
 23338,
 23338,
 23338,
 14749,
 14748,
 14748,
 23338,
 14749,
 14762,
 14762,
 14762,
 23375,
 14762,
 23375,
 14818,
 14819,
 14818,
 14817,
 14819,
 14828,
 14828,
 14828,
 14947,
 14947,
 14947,
 14996,
 14996,
 15040,
 15040,
 15041,
 16738,
 16738,
 16739,
 21930,
 21930,
 16737,
 16737,
 16737,
 16737,
 16741,
 16741,
 16939,
 16939,
 16939,
 17600,
 17600,
 18007,
 18007,
 18007,
 18008,
 18008,
 18102,
 18102,
 18235,
 18235,
 18241,
 18242,
 18241,
 18242,
 18243,
 18244,
 18243,
 18244,
 18245,
 18246,
 18245,
 18246,
 18248,
 18261,
 18261,
 18261,
 18261,
 21978,
 21978,
 21978,
 18265,
 18269,
 18269,
 18269,
 18269,
 18269,
 18271,
 18271,
 18271,
 18271,
 18279,
 18344,
 18345,
 18344,
 18345,
 18343,
 18343,
 18343,
 18358,
 18359,
 18359,
 18359,
 18358,
 18360,
 18361,
 25246,
 25246,
 25246,
 18360,
 18361,
 18390,
 18390,
 18390,
 18400,
 18400,
 18401,
 18401,
 24459,
 24459,
 24459,
 18412,
 18412,
 18412,
 18425,
 18423,
 18423,
 18424,
 18425,
 18425,
 18423,
 18424,
 18445,
 18445,
 18458,
 18458,
 18505,
 18505,
 18505,
 18505,
 18506,
 18531,
 18598,
 18598,
 18598,
 18628,
 18628,
 18628,
 18633,
 18633,
 18633,
 18633,
 20763,
 20763,
 20763,
 18637,
 18637,
 18637,
 18639,
 18640,
 18641,
 18639,
 18640,
 18642,
 18643,
 18643,
 18644,
 18644,
 18644,
 18649,
 18654,
 18654,
 18654,
 18655,
 18655,
 18654,
 18655,
 18660,
 18661,
 18662,
 18661,
 18662,
 23292,
 18665,
 18665,
 18705,
 18705,
 18706,
 18706,
 18707,
 18707,
 18707,
 18742,
 18742,
 18743,
 18743,
 18743,
 18745,
 18745,
 18745,
 18750,
 18750,
 18751,
 18751,
 18762,
 18763,
 18762,
 18764,
 18764,
 18770,
 23136,
 18770,
 18770,
 23136,
 23136,
 18796,
 18796,
 18797,
 18797,
 18797,
 18797,
 18887,
 18887,
 18887,
 18887,
 18886,
 18886,
 18886,
 18886,
 18886,
 18885,
 18885,
 18885,
 19706,
 19706,
 19706,
 19739,
 19740,
 19740,
 19740,
 20356,
 20356,
 20356,
 22680,
 22680,
 22681,
 20357,
 20357,
 23459,
 23459,
 22680,
 20357,
 22681,
 20384,
 20384,
 20384,
 20384,
 20383,
 20383,
 20390,
 20390,
 20390,
 20406,
 20407,
 ...]

### Odvajanje facilitya koji su identificirani sa id_property_unit i id_property, facility na razini smj. jedinice i na razini objekta

In [18]:
# facility koji su id na razini objekta
property_f = facility_df[facility_df["id_property_unit"]==0]["facility_code"].unique()
#property_f

In [19]:
#facility koji su id na razini unita
unit_f = facility_df[facility_df["id_property_unit"]!=0]["facility_code"].unique()
unit_f

array(['twin_bed', 'unit_wardrobe_closet', 'unit_bedroom_parquet_floor',
       'refrigerator', 'dishes', 'oven_pu', 'freezing_compartment',
       'dishwasher', 'microwave', 'toaster', 'tea', 'coffee', 'shower',
       'unit_wc', 'washbasin', 'unit_bathtub ', 'stove', 'balcony',
       'air_condition', 'shared_barbecue', 'unit_living_aircondition',
       'unit_living_parquet_floor', 'unit_big_sofa', 'unit_living_sat_tv',
       'washing_machine', 'sattv', 'internet_wireless', 'un_view_sea',
       'terrace', 'unit_living_terrace_exit', 'unit_three_seater',
       'unit_armchair', 'description_unit_frontname',
       'description_unit_short', 'description_unit_long', 'heating1',
       'deposit_obligatory', 'final_cleaning', 'bed_linen',
       'bed_linen_change', 'towels', 'towels_change', 'towels_set',
       'kitchen_cloths', 'electrical_energy', 'gas_supply',
       'water_supply_charge', 'internet-paidorfree',
       'internet-connectiontype', 'internet-location',
       'parking-paidorfree', 'parking-privateorpublic',
       'parking-location', 'pets', 'unit_floor', 'private_entrance',
       'dostupnost_inv_kolica', 'children_ok', 'room_terrace',
       'cooking_electric', 'detached', 'outside_shower',
       'outdoor_dining_area', 'unit_trash_cans', 'grilling_not_allowed',
       'pets_yes_no_7', 'pets_over_7', 'smoking', 'extra_beds_available',
       'heating', 'zajednicka_terasa', 'unit_bedroom_sat_tv',
       'unit_living_ceramic_floor', 'unit_two_seater', 'un_view_garden',
       'entire_property_on_ground_floor', 'semi_detached',
       'un_view_street_quiet', 'large_double_bed', 'partygames',
       'unit_bidet', 'safe', 'freezer', 'dining_table_4_persons',
       'chairs', 'dinner_set', 'tv', 'clothesdryer', 'cooking_highchair',
       'fireplace', 'hairdryer', 'music', 'mini_oven',
       'under_floor_heating', 'veranda', 'dry_toilet', 'dvd', 'loggia',
       'billard', 'gamesconsole', 'iron', 'vaccumcleaner',
       'outside_area_completely_enclosed', 'un_view_pool',
       'outdoor_security_camera', 'un_view_street_busy',
       'un_view_seaside', 'cooking_gas', 'un_whirlpool',
       'un_view_back_building', 'dining_table_2_persons',
       'dining_table_3_persons', 'private_barbecue', 'flat_tv',
       'private_pool', 'un_view_mountain', 'un_view_forest',
       'separate_toilet', 'childrens_cribs', 'dining_table_6_persons',
       'desk', 'oven', 'in_ventilator', 'in_extra_bed', 'un_view_center',
       'in_sauna', 'unit_hypoallergenic_pillow', 'toilet_paper', 'radio',
       'internet_network', 'in_table_football', 'in_dart', 'un_view_lake',
       'unit_clothes_rack', 'in_cable_tv', 'un_view_river', 'breakfast',
       'un_view_park', 'unit_bathtub', 'minibar', 'meal_room_only',
       'unit_bedroom_mosquito_net', 'mosquito_net'], dtype=object)

In [20]:
print(len(unit_f)+len(property_f))
print(len(property_f))
print(len(fcode))

390
247
384

In [21]:
# dobivanje facilitya koji imaju id unit i property, brisu se iz unit liste
#ako se pokrene dva puta celija print ostane prazan set

prop_f_set = set(property_f)
presjek = prop_f_set.intersection(unit_f)
print(presjek)
for i in presjek:
    index=np.where(unit_f==i)
    unit_f=np.delete(unit_f,index)

{'outside_area_completely_enclosed', 'safe', 'heating', 'air_condition', 'in_sauna', 'terrace'}

In [22]:
print(len(unit_f)+len(property_f))
print(len(fcode))
print(len(unit_f))
print(len(property_f))

384
384
137
247

In [23]:
facility_df[facility_df["facility_code"]== 'outside_area_completely_enclosed']

,id_property_unit,id_property,facility_sub_grp,facility_code,value,new_values
965,0,1820,backyard,outside_area_completely_enclosed,on,1.0
1262,0,1829,backyard,outside_area_completely_enclosed,on,1.0
2477,0,1832,backyard,outside_area_completely_enclosed,on,1.0
2831,3708,1850,backyard,outside_area_completely_enclosed,off,-1.0
5981,0,2224,backyard,outside_area_completely_enclosed,on,1.0
...,...,...,...,...,...,...
188597,0,8992,backyard,outside_area_completely_enclosed,on,1.0
189668,0,9001,backyard,outside_area_completely_enclosed,on,1.0
196869,0,10175,backyard,outside_area_completely_enclosed,on,1.0
205078,0,10265,backyard,outside_area_completely_enclosed,on,1.0
209773,0,10447,backyard,outside_area_completely_enclosed,on,1.0

## dodavanje vrijednosti stupcima f_code u df units

In [24]:
for i in unit_f:
    i_units[i][facility_df[facility_df["facility_code"]==i]["id_property_unit"].tolist()] = values.loc[facility_df[facility_df["facility_code"]==i]["value"].unique()[0]][0]

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_3692\3762141143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i_units[i][facility_df[facility_df["facility_code"]==i]["id_property_unit"].tolist()] = values.loc[facility_df[facility_df["facility_code"]==i]["value"].unique()[0]][0]

In [25]:
i_units["twin_bed"]


unbed[facility_df[facility_df["facility_code"]=="twin_bed"]["id_property_unit"].tolist()] = values.loc[facility_df[facility_df["facility_code"]=="twin_bed"]["value"].unique()[0]][0]

In [26]:
i_units.head()

,id,id_property,category,area,floor,beds_basic,beds_additional,garden,twin_bed,unit_wardrobe_closet,...,mosquito_net,paying_amex,paying_master,paying_visa,paying_maestro,card_payment,language_sk,property_internet_location,location_turistcomplex,in_food_local_speciality
id,,,,,,,,,,,,,,,,,,,,,
3622,3622,1817,3,50.0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3623,3623,1817,3,100.0,1,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
23113,23113,1817,3,100.0,2,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3624,3624,1818,3,50.0,2,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3625,3625,1819,3,130.0,3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
i_units.to_csv("gen_data/units_unitfacilities01.csv")

### Prijenos property facility u units df

In [28]:
p_units = i_units.set_index(i_units["id_property"])
p_units.head()

,id,id_property,category,area,floor,beds_basic,beds_additional,garden,twin_bed,unit_wardrobe_closet,...,mosquito_net,paying_amex,paying_master,paying_visa,paying_maestro,card_payment,language_sk,property_internet_location,location_turistcomplex,in_food_local_speciality
id_property,,,,,,,,,,,,,,,,,,,,,
1817,3622,1817,3,50.0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1817,3623,1817,3,100.0,1,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1817,23113,1817,3,100.0,2,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1818,3624,1818,3,50.0,2,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1819,3625,1819,3,130.0,3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
facility_df[facility_df["facility_code"]=="terrace"]["id_property"].unique().tolist()

[1817,
 1818,
 1820,
 1829,
 1831,
 1832,
 1846,
 1850,
 1852,
 1867,
 1890,
 1926,
 2160,
 2175,
 2178,
 2187,
 2189,
 2224,
 2242,
 2246,
 2262,
 2281,
 2293,
 2300,
 2301,
 2339,
 2342,
 2343,
 2345,
 2347,
 2352,
 2356,
 2360,
 2362,
 2365,
 2367,
 2368,
 2370,
 2371,
 2372,
 2374,
 2375,
 2377,
 2378,
 2384,
 2389,
 2392,
 2394,
 2395,
 2402,
 2405,
 2406,
 2412,
 2415,
 2416,
 2417,
 2419,
 2421,
 2427,
 2428,
 2429,
 2430,
 2440,
 2442,
 2443,
 2444,
 2446,
 2452,
 2456,
 2459,
 2461,
 2463,
 2468,
 2469,
 2470,
 2471,
 2477,
 2480,
 2483,
 2484,
 2485,
 2550,
 2559,
 2569,
 2582,
 2583,
 2612,
 2615,
 2648,
 3076,
 3454,
 3506,
 3552,
 3559,
 3564,
 3591,
 3597,
 3599,
 3610,
 3619,
 4054,
 4247,
 4254,
 4269,
 4277,
 4294,
 4301,
 4307,
 4310,
 4312,
 4334,
 4335,
 4339,
 4354,
 4358,
 4359,
 4366,
 4372,
 4388,
 4424,
 5420,
 5424,
 5493,
 5497,
 5499,
 5504,
 5522,
 5523,
 5524,
 5548,
 5550,
 5554,
 5561,
 5578,
 5593,
 5608,
 5614,
 5617,
 5632,
 5634,
 5640,
 5660,
 5661,
 5683,
 5693,
 5694,
 5706,
 5738,
 5741,
 5783,
 5801,
 5820,
 6358,
 6444,
 6720,
 6903,
 7018,
 7022,
 7025,
 7032,
 7034,
 7037,
 7039,
 7058,
 7070,
 7078,
 7097,
 7098,
 7106,
 7112,
 7116,
 7120,
 7130,
 7150,
 7151,
 7182,
 7195,
 7197,
 7200,
 7201,
 7206,
 7219,
 7234,
 7255,
 7256,
 7270,
 7285,
 7290,
 7325,
 7712,
 7957,
 7958,
 7973,
 7977,
 8002,
 8021,
 8022,
 8023,
 8028,
 8032,
 8034,
 8040,
 8041,
 8046,
 8054,
 8062,
 8075,
 8076,
 8078,
 8079,
 8089,
 8094,
 8096,
 8099,
 8106,
 8154,
 8156,
 8177,
 8178,
 8186,
 8193,
 8204,
 8209,
 8210,
 8247,
 8258,
 8309,
 8334,
 8388,
 8477,
 8510,
 8534,
 8535,
 8540,
 8542,
 8563,
 8564,
 8566,
 8570,
 8571,
 8581,
 8593,
 8594,
 8613,
 8616,
 8618,
 8619,
 8620,
 8644,
 8645,
 8678,
 8680,
 8682,
 8685,
 8693,
 8700,
 8702,
 8709,
 8710,
 8724,
 8725,
 8726,
 8732,
 8733,
 8735,
 8736,
 8737,
 8739,
 8740,
 8755,
 8756,
 8763,
 8767,
 8771,
 8883,
 8885,
 8888,
 8890,
 8891,
 9044,
 9045,
 9046,
 9064,
 9066,
 9070,
 9077,
 9081,
 9098,
 9101,
 9125,
 9127,
 9128,
 9132,
 9133,
 9135,
 9140,
 9143,
 9148,
 9149,
 9150,
 9153,
 9154,
 9155,
 9159,
 9160,
 9161,
 9173,
 9187,
 9188,
 9189,
 9190,
 9191,
 9192,
 9193,
 9200,
 9276,
 9332,
 9334,
 9370,
 9371,
 9372,
 9380,
 9381,
 9382,
 9393,
 9394,
 9395,
 9400,
 9401,
 9404,
 9405,
 9408,
 9414,
 9422,
 9432,
 9435,
 9443,
 9444,
 9464,
 9466,
 9467,
 9475,
 9478,
 9479,
 9484,
 9486,
 9488,
 9490,
 9493,
 9496,
 9501,
 9503,
 9505,
 9509,
 9511,
 9512,
 9513,
 9515,
 9573,
 9688,
 9689,
 9690,
 9697,
 9706,
 9707,
 9710,
 9721,
 9746,
 9754,
 9765,
 9780,
 9788,
 9790,
 9791,
 9797,
 9798,
 9804,
 9809,
 9810,
 9817,
 9818,
 9820,
 9822,
 9826,
 9832,
 9837,
 9841,
 9844,
 9846,
 9847,
 9848,
 9851,
 9852,
 9864,
 9865,
 9866,
 9867,
 9869,
 9873,
 9875,
 9876,
 9880,
 9882,
 9892,
 9893,
 9894,
 9897,
 9900,
 9901,
 9902,
 9903,
 9905,
 9906,
 9912,
 9916,
 9917,
 9918,
 9922,
 9926,
 9928,
 9937,
 9940,
 9941,
 9942,
 9943,
 9944,
 9945,
 9947,
 9950,
 9955,
 9957,
 9960,
 9966,
 9973,
 9974,
 9976,
 9980,
 9981,
 9982,
 9984,
 9985,
 9986,
 9990,
 9993,
 9995,
 9996,
 9999,
 10000,
 10011,
 10013,
 10015,
 10016,
 10030,
 10031,
 10033,
 10034,
 10035,
 10039,
 10043,
 10047,
 10054,
 10055,
 10056,
 10057,
 10058,
 10059,
 10061,
 10063,
 10064,
 10066,
 10067,
 10068,
 10069,
 10070,
 10071,
 10075,
 10076,
 10080,
 10082,
 10083,
 10084,
 10086,
 10088,
 10093,
 10094,
 10102,
 10103,
 10104,
 10108,
 10110,
 10112,
 10114,
 10128,
 10130,
 10132,
 10203,
 10229,
 10230,
 10237,
 10238,
 10252,
 10253,
 10262,
 10268,
 10280,
 10282,
 10290,
 10291,
 10294,
 10297,
 10301,
 10303,
 10304,
 10305,
 10306,
 10310,
 10311,
 10312,
 10313,
 10315,
 10316,
 10317,
 10319,
 10320,
 10321,
 10322,
 10323,
 10325,
 10327,
 10328,
 10329,
 10331,
 10333,
 10335,
 10337,
 10338,
 10340,
 10341,
 10352,
 10358,
 10360,
 10373,
 10374,
 10378,
 10379,
 10380,
 10384,
 10401,
 10406,
 10412,
 10415,
 10416,
 10422,
 10436,
 10442,
 10448,
 10468,
 10474,
 10477,
 10478,
 10485,
 10486,
 10487,
 10488,
 10489,
 10490,
 10496,
 10501,
 10522,
 10528,
 10569,
 10580,
 10581,
 10587,
 10597,
 10600,
 10604,
 10606,
 10613,
 10618,
 10629,
 10630,
 10631,
 10633,
 10634,
 10636,
 10637,
 10638,
 10639,
 10640,
 10642,
 10643,
 10644,
 10649,
 10670,
 10673,
 10677,
 10679,
 6321,
 6333,
 6362,
 6440,
 6644,
 6673,
 6679,
 6684,
 6689,
 6694,
 6695,
 6698,
 6704,
 6707,
 6711,
 6713,
 6714,
 6798,
 7715,
 7722,
 7724,
 8485,
 8488,
 8492,
 8497,
 8500,
 8502,
 8503,
 8504,
 8506,
 8507,
 8803,
 8821,
 8832,
 8833,
 8836,
 8837,
 8838,
 8852,
 8953,
 8980,
 8984,
 8987,
 8990,
 8994,
 8995,
 8999,
 9001,
 9002,
 9053,
 10116,
 10129,
 10134,
 10137,
 10138,
 10139,
 10142,
 10152,
 10155,
 10157,
 10159,
 10166,
 10169,
 10176,
 10178,
 10179,
 10183,
 10188,
 10189,
 10200,
 10207,
 10211,
 10214,
 10223,
 10228,
 10233,
 10239,
 10240,
 10243,
 10245,
 10247,
 10259,
 10266,
 10267,
 10286,
 10288,
 10368,
 10369,
 10429,
 10439,
 10444,
 10445,
 10447,
 10495,
 10497,
 10601]

In [30]:
p_units.loc[1817]
p_units['terrace'].loc[facility_df[facility_df["facility_code"]=='terrace']["id_property"].tolist()]

id_property
1817     0
1817     0
1817     0
1817     0
1817     0
        ..
10497    0
10497    0
10497    0
10497    0
10601    0
Name: terrace, Length: 4524, dtype: int64

In [31]:
ls=[]
for i in property_f:
    try:
        p_units[i].loc[facility_df[facility_df["facility_code"]==i]["id_property"].tolist()] = values.loc[facility_df[facility_df["facility_code"]==i]["value"].unique()[0]][0]
    except:
        ls.append(i)

C:\Users\Korisnik\anaconda3\envs\AGprojekt\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
values.loc[facility_df[facility_df["facility_code"]=="terrace"]["value"].unique()[0]][0]

1

In [33]:
#len ls iz funkcije except jednaka je len praznih stupaca 
print(len(ls))

151

In [34]:
# ne lovi podatke za air_condition-provjerit ostale-parties_allowed,kids_allowed
# unit_floor ima br samo 0 ili 3
# nisu azurirani distance u csv-u
"""p_units.to_csv("gen_data/units_all_fac-01.csv")"""

In [35]:
p_units.head(20)

,id,id_property,category,area,floor,beds_basic,beds_additional,garden,twin_bed,unit_wardrobe_closet,...,mosquito_net,paying_amex,paying_master,paying_visa,paying_maestro,card_payment,language_sk,property_internet_location,location_turistcomplex,in_food_local_speciality
id_property,,,,,,,,,,,,,,,,,,,,,
1817,3622,1817,3,50.0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1817,3623,1817,3,100.0,1,4,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1817,23113,1817,3,100.0,2,4,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1818,3624,1818,3,50.0,2,4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1819,3625,1819,3,130.0,3,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3626,1819,3,60.0,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3628,1819,3,45.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3629,1819,3,35.0,1,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3630,1819,3,60.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3631,1819,3,45.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,3632,1819,3,35.0,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,18177,1819,3,35.0,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1819,18178,1819,3,35.0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1820,3633,1820,3,45.0,2,2,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1820,3634,1820,3,22.0,2,2,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1820,3635,1820,3,45.0,2,4,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1820,3636,1820,3,75.0,3,2,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1820,3637,1820,3,45.0,1,2,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1820,3638,1820,3,25.0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1820,18256,1820,3,45.0,0,2,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# ne postoji u tablici units
#p_units.loc[10227]

In [37]:
#facility_df[facility_df["id_property"]== 10227]

In [38]:
facility_df[facility_df["facility_code"]== 'air_condition']

,id_property_unit,id_property,facility_sub_grp,facility_code,value,new_values
38,23113,1817,NaN,air_condition,on,1.0
62,3623,1817,NaN,air_condition,on,1.0
90,3623,1817,unit_equipment,air_condition,on,1.0
96,23113,1817,unit_equipment,air_condition,on,1.0
291,3624,1818,unit_equipment,air_condition,on,1.0
...,...,...,...,...,...,...
210722,25727,10599,NaN,air_condition,on,1.0
210739,25727,10599,unit_equipment,air_condition,on,1.0
210824,0,10599,property_equipment,air_condition,on,1.0
210852,25729,10601,NaN,air_condition,on,1.0
210866,25729,10601,unit_equipment,air_condition,on,1.0

### Provjera rijesenih i praznih stupaca

In [39]:
p_units.columns
prazni=[]
rijeseni=[]
for i in p_units.columns:
    if (p_units[i]==0).all():
        prazni.append(i)
    else:
        rijeseni.append(i)
print("prazni: ",len(prazni))
print("rijeseni: ",len(rijeseni))
print(len(prazni)+len(rijeseni))
print(len(p_units.columns))

prazni:  151
rijeseni:  240
391
391

In [41]:
print(prazni)
with open('gen_data/prazni_stupci_ls.txt', 'w') as f:
    for item in prazni:
        f.write("%s\n" % item)

['air_condition', 'description_about_property_short', 'parties_allowed', 'kids_allowed', 'key_pickup_address_client_id', 'free_cancelation_last_day', 'in_parking_place', 'use_grill', 'center', 'dis_park', 'sea', 'dis_hospital', 'dis_police', 'bus', 'public_transport', 'dis_taxi', 'airport', 'property_final_cleaning', 'property_bed_linen', 'property_bed_linen_change', 'property_towels', 'property_towels_change', 'property_towels_set', 'property_kitchen_cloths', 'property_electrical_energy', 'property_water_supply_charge', 'meals_in_property', 'distance_lake', 'fishing', 'bar', 'casino', 'disco', 'night_bar', 'electricity_network_220', 'water_supply', 'hot_water_boiler_electric', 'property_internet_paidorfree', 'property_internet_connectiontype', 'property_parking_paidorfree', 'property_parking_reservation', 'pets_allowed', 'pets_charges_yes_no', 'owner_in_house', 'special_summer', 'special_family', 'language_hr', 'view_sea', 'beach_bar', 'water_sports', 'diving', 'water_skiing', 'beach_concrete', 'beach', 'beach_sandy', 'beach_shingle', 'kiosk', 'supermarket', 'souvenirshop', 'grocery_shop', 'green_market', 'bank', 'atm', 'exchange', 'post', 'restaurant', 'public_phone', 'payparking', 'bike_rent', 'sport_equipment_rent', 'basketball', 'mini_golf', 'soccer', 'pintball', 'paragliding', 'table_tennis', 'tennis', 'distance_stadium', 'distance_body_water', 'highway', 'train', 'distance_ferryboat', 'property_pets_yes_no_7', 'property_pets_over_7', 'language_de', 'boathire', 'beach_rock', 'hairdresser', 'beauty_salon', 'fitness', 'massage', 'medical_help', 'beach_volleyball', 'outside_area_completely_enclosed', 'language_en', 'language_it', 'language_si', 'location_center_wide', 'year_built', 'year_rent_start', 'year_renovated', 'number_units', 'distance_moorage', 'billiard', 'horse_riding', 'mini_soccer', 'walking_routes', 'squash', 'playground', 'view_street_quiet', 'internet_caffe', 'location_sea', 'badminton', 'distance_football_table', 'photocopy', 'laundry', 'pool_bar', 'smoking_allowed', 'quiet_hours_set', 'volleyball', 'parking', 'view_forest', 'paying_cash', 'free_cancelation_3_days', 'harbour', 'pool_public', 'hunting', 'bike_routes', 'beach_grass', 'laundry_self_service', 'aerobic', 'quiet_hours_start_time', 'quiet_hours_end_time', 'distance_children_beach', 'conference_room', 'lobby_bar', 'dry_cleaning', 'distance_river', 'pool_length', 'wellness', 'pool_width', 'language_cz', 'meeting_room', 'birdwatching', 'distance_jetski', 'pool_max_depth', 'paying_amex', 'paying_master', 'paying_visa', 'paying_maestro', 'card_payment', 'language_sk']